/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
q,
address,
strong,
em,
img,
ul,
ol,
li,
dl,
dt,
dd,
a,
figure,
figcaption,
mark,
i,
b,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
article,
footer,
nav,
aside {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
ol,
li {
    list-style: none;
}
address,
em {
    font-style: normal;
}
hr,
caption {
    display: none;
}

q {
    quotes: none;
} /*자동으로 삽입되는 쌍따옴표 제거*/

a:link,
a:visited,
a:hover,
a:active {
    color: #222;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

body {
    overflow-y: scroll;
    color: #222;
    font-weight: 300;
    font-size: 13px;
    font-family: 'Noto Sans KR', 돋움;
}

.text-center {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

/* 화면에 보이지는 않지만 시각장애인을 위한 screen reader는 글을 읽을수 있다.  */
.sr-only {
    position: absolute;
    left: -9999px;
}

.blind {
    display: none;
}

/* float 했을때 부모에게 필요한 마감재 */
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    display: block;
    clear: both;
    content: '';
}
